<div class="register-container">
<h1>Formulario de Registro</h1>
 
  <form>
<!-- Campo de correo electrónico -->
<div class="text-area-container">
<label for="email">Correo electrónico</label>
<input type="email" id="email" name="email" placeholder="Ingresa tu correo" class="nombre-usuario" required>
</div>
 
    <!-- Campo de contraseña -->
<div class="text-area-container">
<label for="password">Contraseña</label>
<input type="password" id="password" name="password" placeholder="Ingresa tu contraseña" class="contrasenia" required>
</div>
 
    <!-- Combo box para tipo de usuario -->
<div class="text-area-container">
<label for="user_type">Tipo de usuario</label>
<select id="user_type" name="user_type" class="tipo-usuario" required>
<option value="">Selecciona una opción</option>
<option value="vendedor">Vendedor</option>
<option value="comprador">Comprador</option>
</select>
</div>
 
    <!-- Botón de registro -->
<input type="submit" value="Registrarse">
</form>
</div>