.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 2px solid #d0dbe8; 
    box-shadow: 0 2px 4px rgba(0, 51, 102, 0.1); 
  }
  
  .header .page-name {
    font-size: 1.8em;
    color: #003366;
    margin: 0;
    text-decoration: none;
    font-weight: 700;
  }
  
  .link-container {
    margin-left: 20px;
  }

  .header a {
    color: #003366;
    text-decoration: none;
    font-weight: 500;
    font-size: 1em;
    padding: 8px 14px;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .header a:hover {
    background-color: #dbe9f5; 
    color: #00509e;
    font-weight: 600;
    
  }

  
  .header a.add-product {
    background-color: #00509e; 
    color: white;
    padding: 8px 16px;
    font-weight: 600;
    border-radius: 6px;
  }
  
  .header a.add-product:hover {
    background-color: #003366; 
    color: white;
  }


  
  