<h1> Productos </h1>

<% @products.each do |product| %>
    <%= link_to product_path(product.id) do %>
        <h2> <%= product.nombre %></h2>
        <span>$ <%= product.precio %></span>
    <% end %>
<% end %>